<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  {{ HEAD }}
</head>

<body {{ BODY_ATTRS }}>
{{APP}}


<script id="shader-fs" type="x-shader/x-fragment">
  #ifdef GL_ES
  precision mediump float;
  #endif

  void main() {
    gl_FragColor = red();
  }

  vec4 red(){
    return vec4(1.0, 0.0, 0.0, 1.0);
  }

</script>

<script id="shader-vs" type="x-shader/x-vertex"></script>

</body>
</html>
