<template>
  <section class="container">
    <canvas ref="canvas" :width="canvas.width" :height="canvas.height"/>
  </section>
</template>

<script>
let gl = null;
export default {
  components: {},

  data() {
    return {
      canvas: {
        width: 0,
        height: 0
      }
    };
  },

  mounted() {
    this.init();
  },

  methods: {
    init() {
      this.setCanvasSize();
      this.initGL();

      this.renderObject();
    },

    initGL() {
      const { canvas } = this.$refs;
      var names = ["webgl", "experimental-webgl", "webkit-3d", "moz-webgl"];

      for (var i = 0; i < names.length; ++i) {
        try {
          gl = canvas.getContext(names[i]);
        } catch (e) {}
        if (gl) break;
      }
    },

    setCanvasSize() {
      this.canvas.width = window.innerWidth * window.devicePixelRatio;
      this.canvas.height = window.innerHeight * window.devicePixelRatio;
    },

    renderObject() {
      //Vertices that describe the geometry of a cone
      var vertices = [
        1.5,
        0,
        0,
        -1.5,
        1,
        0,
        -1.5,
        0.809017,
        0.587785,
        -1.5,
        0.309017,
        0.951057,
        -1.5,
        -0.309017,
        0.951057,
        -1.5,
        -0.809017,
        0.587785,
        -1.5,
        -1,
        0.0,
        -1.5,
        -0.809017,
        -0.587785,
        -1.5,
        -0.309017,
        -0.951057,
        -1.5,
        0.309017,
        -0.951057,
        -1.5,
        0.809017,
        -0.587785
      ];
      //Indices that describe the geometry of a cone
      var indices = [
        0,
        1,
        2,
        0,
        2,
        3,
        0,
        3,
        4,
        0,
        4,
        5,
        0,
        5,
        6,
        0,
        6,
        7,
        0,
        7,
        8,
        0,
        8,
        9,
        0,
        9,
        10,
        0,
        10,
        1
      ];
      const coneVBO = gl.createBuffer();
      gl.bindBuffer(gl.ARRAY_BUFFER, coneVBO);
      gl.bufferData(
        gl.ARRAY_BUFFER,
        new Float32Array(vertices),
        gl.STATIC_DRAW
      );
      gl.bindBuffer(gl.ARRAY_BUFFER, null);
      const coneIBO = gl.createBuffer();
      gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, coneIBO);
      gl.bufferData(
        gl.ELEMENT_ARRAY_BUFFER,
        new Uint16Array(indices),
        gl.STATIC_DRAW
      );
      gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, null);
    }
  }
};
</script>

<style lang="scss">
canvas {
  width: 100vw;
  height: 100vh;
}
</style>

